<!DOCTYPE html>
<html>
<head>
    <title>Mon CV</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Mon CV</h1>
    <h2>Expérience</h2>
    {% for experience in experiences %}
        <h3>{{ experience.titre }} - {{ experience.entreprise }}</h3>
        <p>{{ experience.date_debut }} - {{ experience.date_fin }}</p>
        <p>{{ experience.description }}</p>
    {% endfor %}
     <h2>Formation</h2>
    <ul>
      {% for formation in formations %}
      <li>
        <h3>{{ formation.diplome }}</h3>
        <p><strong>{{ formation.etablissement }}</strong>, {{ formation.description }} | {{ formation.date_debut }} - {{ formation.date_fin }}</p>
        <p>{{ formation.description }}</p>
      </li>
      {% endfor %}
    </ul>

    <h2>Compétences</h2>
    <ul>
      {% for competence in competences %}
      <li>{{ competence.nom }} - {{ competence.niveau }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
